@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


/* *{
    padding: 0;
    margin: 0;
} */

body{
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16px;
    /* font-family: "Sevillana", cursive; */
    font: normal 16px "Sevillana", cursive;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    
}
a:active{
    color: blue;
}
a:visited{
    color: grey;
}

.flag {
    width: 200px;
    border-radius: 26px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.info p{
    color: #86898f;
    margin: 0;
    font-style: normal;
    text-decoration: none;
    /* text-transform: lowercase; */
    /* letter-spacing: normal; */
    /* word-spacing: normal; */

}
.info{
    display: flex;
    margin-bottom: 20px;
}
.info-text{
    margin-left: 40px;
}
.info-text h4{
    margin-bottom: 10px;
}

/* .social{
    background:green;
    padding: 15px;
    margin: 5px;

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blueviolet;
} */

.container{
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.card {
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.bg-yellow{
    background: #fff9dc;
}
.bg-red{
    background: #ffe5e5
    
}
.bg-green{
    background: #e5ffe7;
}

.card h2{
    margin-bottom: 10px;
}

.list{
    padding: 0 20px;
    list-style: none;
}
.list li{
    color: #89898f;
    margin-bottom: 10px;
    /* border-bottom: 1px solid grey; */
}

.table{
    width: 100%;

}
.table td:nth-child(3) {
    color: green;
}
.table tr:nth-child(even){
    background: red;
}
.link-list{
    list-style: none;
    padding: 0;
}
.link-list li {
    /* padding-bottom: 5px; */
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.contact h2{
    text-align: center;
}
.form-group label{
    display: block;
    font-size: 14px;
    color: #89898f;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row{
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}
.row > .form-group:last-child {
    margin-right: 0;
}
.btn{
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.position{
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
}

.box{
    width: 50px;
    height: 50px;
    background: lightcoral;   
}

/* .box-model div{
    background: #000;
    height: 200px;
    width: 25%;
    float: left;
    border: 4px solid red;
    box-sizing: border-box;
} */